/**
* Height sidebar
**/

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: calc(100vh - 200px) !important;
}

/**
* Customer table
*/

.action-customer {
    max-width: 130px !important;
}


/**
* require area
*/

.required::after {
    content: "*";
    color: red;
    margin-left: 0.5rem;
}

/**
* navigation add item
*/

.nav-add {
    margin-bottom: 2rem;
}


/**
* table responsive
*/
.dataTables_wrapper {
    padding: 1rem !important;
}

/**
* sidebar
*/

.indentation-side {
    margin-left: 3rem !important;
}


/**
* datatable
*/

th {
    text-transform: lowercase !important;
}

th:first-letter {
    text-transform: uppercase !important;
}

#tableEditor {
    position: absolute;
    left: 300px;
    top: 230px;
    padding: 5px;
    border: 1px solid #000;
    background: #384db0eb;
    z-index: 9999;
    border-radius: 20px;
    color: #FFF;
}

/* Show and hide password */
.field-icon {
    float: right;
    position: relative;
    z-index: 2;
}


/**
* image vich profil pic
*/
.vich-image img {
    min-width: 150px;
    max-width: 250px;
}

/**
* oscc image
*/
.oscc {
    max-width: 37px;
    border-radius: 50%;
    margin: 10px !important;
}

/**
* active bg
*/
.sidebar .nano-content>ul>li>ul>li.active>a,
.sidebar .nano-content>ul>li>ul>li.open>a,
.sidebar .nano-content>ul>li>ul>li>ul {
    background: linear-gradient(to right, #373842, #384fbd) !important;
}


/**
* profilRight header
*/
.profilRight {
    float: right !important;
    margin-top: -38px;
    margin-right: 40px;
}

.bg-gradient-primary {
    background-image: linear-gradient(195deg, #bfac4e9e 10%, #54d1d7 81%) !important;
}


.footer>p {
    text-align: center !important;
}


.alert-success {
    background-image: linear-gradient(195deg, #b1dfb3 0%, #7fcd82 100%) !important;
}

.alert-danger,
.alert-info,
.alert-warning,
.alert-success {
    margin-top: 1.5rem !important;
    color: #FFF !important;
    font-weight: bold !important;
}