<form method="post" action="{{ path('app_mission_delete', {'id': mission.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mission.id) }}">
	<button class="btn text-danger text-gradient px-3 mb-0">
		<i class="material-icons text-sm me-2">delete</i>Supprimer</button>
</form>
