{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}New mission{% endtrans %}
{% endblock %}

{% block body %}
	<h3></h3>

	{{ include('mission/_form.html.twig') }}

	<a class="btn btn-link text-dark px-3 mb-0" href="{{ path('app_mission_index') }}">
		<i class="material-icons text-sm me-2">arrow_back</i>Liste</a>
{% endblock %}
