<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
	<div class="container-fluid py-1 px-3">
		<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
			<div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
			<ul class="navbar-nav  justify-content-end">
				<li class="nav-item d-flex align-items-center">
					<a href="#" class="nav-link text-body font-weight-bold px-0">
						<i class="fa fa-user me-sm-1"></i>
						<span class="d-sm-inline d-none">{{ app.user.email }}</span>
					</a>
				</li>
				<li class="nav-item px-3 d-flex align-items-center">
					<a href="javascript:;" class="nav-link text-body p-0" id="" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-bell cursor-pointer"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
