<form method="post" action="{{ path('app_employee_novity_evaluation_delete', {'id': employee_novity_evaluation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee_novity_evaluation.id) }}">
    <button class="btn">Delete</button>
</form>
