<!-- /# footer -->
<div class="row">
	<div class="col-lg-12">
		<div class="footer">
			<p>
				<script>
					document.write(new Date().getFullYear())
				</script>
				© , Novity.
			</p>
		</div>
	</div>
</div>
