<footer class="footer {% if app.user %}py-4{% else %}position-absolute bottom-2 py-2 w-100{% endif %}">
    <div class="{% if app.user %}container-fluid{% else %}container{% endif %}">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-12 col-md-12 my-auto">
                <div class="copyright text-center text-sm {% if not app.user %}text-white{% endif %}">
                    © <script>
                        document.write(new Date().getFullYear())
                    </script>, Novity
                </div>
            </div>
        </div>
    </div>
</footer>